// 모든 파일에 추가할 것
$brand-font: 'Bilbo Swash Caps';
$main-color1: rgb(160, 0, 47);
$main-color2: rgb(139,0,41);
$line-color: #9a9a9a;
$border: 1px solid #9a9a9a;

// 여기까지

footer.f {
  width: 100vw;
  height: 3rem;
  background-color: $main-color1;
  display: flex;
  color: white;
  position: fixed;
  left: 0vw;
  bottom: 0vh;
  z-index: 100;
  align-items: center;

  a {
    color: white;
  }


}
