<header class="h">
  <div class="h-main">
    <div class="h-main-c">
      Heestagram
    </div>
  </div>
  <div class="h-link">
    <div class="h-link-c">
<i class="fa fa-address-book-o" aria-hidden="true"></i>
<i class="fa fa-pencil" aria-hidden="true"></i>
<label for="hb-tog">
  <i class="fa fa-bars" aria-hidden="true"></i>
</label>
    </div>
  </div>
</header>
<div class="dam"></div>
